.word-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  margin: 3px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .main-content {
    width: 80%;
    .main-box {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 10px;
      gap: 20px;

      h1 {
        margin: 0;
      }

      .word {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;
        font-size: 2em;
        font-weight: 700;
        background: linear-gradient(90deg, #8e2de2, #4a00e0);
        -webkit-background-clip: text;
        color: transparent;
      }

      .meaning {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;
        font-size: 1.5em;
        font-weight: 500;
        color: transparent;
        background: linear-gradient(135deg, #34d399, #10b981);
        background-clip: text;
        -webkit-background-clip: text;
        margin-top: 5px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .side-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .memo {
        font-size: 1em;
        color: #6b7280;
        margin-bottom: 10px;
        font-style: italic;
        margin: 0;
        cursor: pointer;
        font-size: 14px;
        padding: 8px;
        width: 90%;
      }

      .memo-input {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        color: #333;
        padding: 8px;
        border-radius: 4px;
        width: 100%;
        font-size: 14px;
        width: 90%;
      }

      .memo-input::placeholder {
        color: #aaa;
      }
      .creation-date {
        font-size: 0.9em;
        color: #d1d5db;
      }
    }
  }

  .side-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #f9f9f9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    .side-btn {
      width: 40%;
      display: flex;
      justify-content: space-around;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 5px;
      margin: 3px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .dic-btn {
    }

    .naver-dic-btn {
      color: #40b65b;
    }

    .substract-incorrect {
      width: 90%;
      color: #ff6347;
    }
    .add-incorrect {
      width: 90%;
      color: lightgray;
    }
    .play-voice-btn {
      width: 90%;
      color: #4a90e2;
    }
    .icon {
      font-size: 1.1em;
      margin: 1px;
    }
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.selected {
  background: linear-gradient(270deg, #e9d7f3, #dfefff, #ffe9ee, #fff7fb);
  background-size: 400% 400%;
  animation: gradientMove 3s ease infinite;
}
